<%- include('partials/header') %>

<div class="center-content">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1>Secrets Box</h1>
    <p>Don't keep your secrets, share them anonymously!</p>
    <div class="btns">
      <a class="light-btn" href="/register">Register</a>
      <a class="dark-btn" href="/login">Login</a>
    </div>
  </div>
</div>

<%- include('partials/footer') %>